.DS_store
*/.DS_store
.vscode
*.sum
*.out
*.outb
*.ech
*.aux
*.bbl
*.blg
*.dvi
*.log
*.gz
figures/*
*.png
*.pdf
*.svg
*.jpg
*.bts
*.wnd
*.gif
*.fls
*.fdb_latexmk
*.py
*turbuni.dat
*.xlsx
*.sum.yaml
*deflections.csv